
---
import Deadline from '../components/Deadline';
import "../styles/global.css";
// Supports weights 100-900
import '@fontsource-variable/dm-sans';
---

<!doctype html>
<html
  lang="en"
  data-ws-project="94e0b425-65c8-4d50-8fe9-cea6578d370a"
  data-ws-last-published="2025-09-05T18:45:15.698Z"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta property="og:url" content="https://url/" />
    <title>Home</title>
    <meta property="og:title" content="Home" />
    <meta property="og:type" content="website" />
    <link
      rel="preload"
      href="/assets/DMSans-VariableFont_opsz_wght_a7Cfs6yyFmZUpGokx4CtR.ttf"
      as="font"
      crossorigin="anonymous"
    />
  </head>
  <body class="relative font-dm-sans">
    <Deadline client:only="react" />
  </body>

  <style>
    :root {
      display: grid;
      min-height: 100%;
    }
  </style>
</html>
